.book {
  display: flex;
  justify-content: space-between;
}

.book-title,
.book-author,
.book-category {
  text-align: start;
}

.book-category {
  font-size: 69%;
  color: rgb(91, 90, 90);
}

.book-author {
  font-size: 85%;
  color: black;
}

.book-title {
  color: #437070;
}
