.book-form {
  padding: 20px;
  width: 90%;
  height: 160px;
  margin-bottom: 20px;
  background-color: #4b5358;
}

.book-form h2 {
  color: black;
  text-align: start;
}

.book-form form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.book-form form input {
  width: 80%;
  height: 30px;
}

.book-form form input[type="submit"] {
  width: 30%;
  height: 30px;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: #e2de84;
  box-shadow: 2px 2px #cec40b;
}
