.App {
  text-align: center;
  display: block;
  min-height: 100vh;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  height: 60px;
  background-color: gray;
}

.menu {
  display: flex;
  gap: 60px;
  padding-right: 30px;
}

.logo {
  padding: 2px;
}

.menu li {
  list-style: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 12px;
  font-weight: bold;
}

a:visited {
  color: #bdb51c;
}

.menu a:hover {
  background-color: rgb(200, 199, 199);
  padding: 10px 12px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.5s ease-in-out background-color;
}

footer {
  height: 50px;
  padding: 20px;
  font-size: 140%;
  border: 4.5px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
  bottom: 0;
  color: gray;
}
