.App {
  text-align: center;
  display: block;
  min-height: 100vh;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 30px;
  padding-right: 20px;
}

.logo {
  padding: 20px;
}

.menu li {
  list-style: none;
}

footer {
  height: 50px;
  padding: 20px;
  font-size: 140%;
  border: 4.5px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
  bottom: 0;
}
